# Core
fastapi
uvicorn[standard]
python-multipart

# ML
torch
torchvision
xgboost
shap
scikit-learn
joblib
numpy
Pillow

# HTTP client
httpx

# Google Cloud
google-cloud-firestore
google-cloud-bigquery
google-cloud-storage
google-generativeai

# Google Earth Engine (optional)
earthengine-api

# Pydantic
pydantic

python-dotenv